---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

	<div class = "post-content">
		{% for scheduleitem in site.schedule %}
			{% if scheduleitem.structure %}
				{% if scheduleitem.structure == 'start' %}
					<h2 class="post-title">{{ scheduleitem.day }}</h3>
	  				<table>
						<tr>
							<td align="center">
								<h4><b>Time</b></h4>
							</td>
							<td align="center">
								<h4><b>Speaker</b></h4>
							</td>
							<td align="center">
								<h4><b>Talk Details</b></h4>
							</td>
						</tr>
				{% else %}
					</table>
				{% endif %}
			{% else %}
				<tr>
					<td align="center">
						<i>{{ scheduleitem.day }}</i> <br />
						{{ scheduleitem.time }}
					</td>
					<td align="center">
						<div class="col-xs-12">
							{% if scheduleitem.noimg %}
								<b>{{ scheduleitem.speaker }}</b>
							{% else %}
									{% if scheduleitem.img %}
										<img class="people-pic" src="{{ scheduleitem.img | prepend: '/assets/img/speakers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
									{% else %}
										<img class="people-pic" src="{{ 'avatar.jpg' | prepend: '/assets/img/speakers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
									{% endif %}
									<br />
								<!-- scheduleitem name (link to webpage if provided) -->
								{% if scheduleitem.bio %}
									<details>
									<summary style="display:list-item;">
								{% endif %}
								{% if scheduleitem.webpage %}
									<a href="{{ scheduleitem.webpage }}" target="_blank"><b>{{ scheduleitem.speaker }}</b></a>
								{% else %}
									<b>{{ scheduleitem.speaker }}</b>
								{% endif %}
								{% if scheduleitem.bio %}
									</summary>
									{{ scheduleitem.bio }}
									</details>
								{% endif %}
								{% if scheduleitem.speaker2 %}
									{% if scheduleitem.img2 %}
											<img class="people-pic" src="{{ scheduleitem.img2 | prepend: '/assets/img/speakers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
										{% else %}
											<img class="people-pic" src="{{ 'avatar.jpg' | prepend: '/assets/img/speakers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
										{% endif %}
										<br />
									<!-- scheduleitem name (link to webpage if provided) -->
									{% if scheduleitem.bio2 %}
										<details>
										<summary style="display:list-item;">
									{% endif %}
									{% if scheduleitem.webpage2 %}
										<a href="{{ scheduleitem.webpage2 }}" target="_blank"><b>{{ scheduleitem.speaker2 }}</b></a>
									{% else %}
										<b>{{ scheduleitem.speaker2 }}</b>
									{% endif %}
									{% if scheduleitem.bio2 %}
										</summary>
										{{ scheduleitem.bio2 }}
										</details>
									{% endif %}
								{% endif %}
							{% endif %}
						</div>
					</td>
					<td align="center">
						<div class="col-xs-12">
							<i><big>{{ scheduleitem.title }}</big></i>
							<br />
							{% if scheduleitem.abstract %}
								<details>
									<summary style="display:list-item"><i>Abstract</i></summary>
									{{ scheduleitem.abstract }}
								</details>
							{% endif %}
						</div>
					</td>
				</tr>
			{% endif %}
	    {% endfor %}
  </div>

</article>
